# Pandas Practice Exercises

This notebook contains 40+ exercises to practice your Pandas skills. The exercises start from the basics and gradually increase in difficulty.

## Datasets Used
We will use a few common datasets available online. You can load them directly using the URLs provided in the exercises.
1. **Chipotle**: `https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv`
2. **Drinks**: `https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv`
3. **Titanic**: `https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv`

---

## Section 1: Getting Started & Basic Data Structures

In [ ]:
# 1. Import pandas as pd and numpy as np
import pandas as pd
import numpy as np

In [ ]:
# 2. Print the version of pandas that has been imported.
print(pd.__version__)

In [ ]:
# 3. Create a pandas Series from the following list:
data = [10, 20, 30, 40, 50]
s = pd.Series(data)

In [ ]:
# 4. Create a DataFrame from the following dictionary:
data_dict = {
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 30, 35, 40],
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
df = pd.DataFrame(data_dict)

In [ ]:
# 5. Set the 'name' column as the index of the DataFrame created in Q4.
df = df.set_index('name')

---
## Section 2: Loading Data & Basic Exploration
For this section, we will use the **Chipotle** dataset.
URL: `https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv`
*Note: This file is tab-separated.*

In [ ]:
# 6. Load the dataset into a variable called `chipo`.
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

In [ ]:
# 7. Show the first 10 entries of the dataframe.
chipo.head(10)

In [ ]:
# 8. What is the number of observations (rows) and columns in the dataset?
chipo.shape

In [ ]:
# 9. Print the name of all the columns.
chipo.columns

In [ ]:
# 10. How is the dataset indexed?
chipo.index

---
## Section 3: Data Cleaning & Manipulation
Continue using the `chipo` dataframe.

In [ ]:
# 11. Check the data type of each column.
chipo.dtypes

In [ ]:
# 12. The 'item_price' column is currently an object (string) because of the '$' sign.
# Clean this column: remove the '$' and convert it to a float.
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

In [ ]:
# 13. Are there any missing values in the dataset? Check for nulls.
chipo.isnull().sum()

In [ ]:
# 14. Drop any duplicate rows, if they exist.
chipo = chipo.drop_duplicates()

In [ ]:
# 15. Create a new column 'revenue' which is the product of 'quantity' and 'item_price'.
chipo['revenue'] = chipo['quantity'] * chipo['item_price']

---
## Section 4: Filtering & Sorting

In [ ]:
# 16. Sort the dataframe by 'item_price' in descending order.
chipo.sort_values('item_price', ascending=False)

In [ ]:
# 17. How many items cost more than $10.00?
(chipo['item_price'] > 10.00).sum()

In [ ]:
# 18. What is the price of each item? 
# (Hint: print a dataframe with only two columns: item_name and item_price, drop duplicates)
chipo[['item_name', 'item_price']].drop_duplicates()

In [ ]:
# 19. Select only the items where the name is 'Chicken Bowl'.
chipo[chipo['item_name'] == 'Chicken Bowl']

In [ ]:
# 20. Select items where the name is 'Chicken Bowl' AND the quantity is greater than 1.
chipo[(chipo['item_name'] == 'Chicken Bowl') & (chipo['quantity'] > 1)]

---
## Section 5: Aggregation & Grouping
For this section, we will use the **Drinks** dataset.
URL: `https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv`

In [ ]:
# 21. Load the drinks dataset into a variable called `drinks`.
url_drinks = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'
drinks = pd.read_csv(url_drinks)

In [ ]:
# 22. Which continent drinks more beer on average?
drinks.groupby('continent')['beer_servings'].mean().idxmax()

In [ ]:
# 23. For each continent, print the statistics for wine consumption.
drinks.groupby('continent')['wine_servings'].describe()

In [ ]:
# 24. Print the mean alcohol consumption per continent for every column.
drinks.groupby('continent').mean()

In [ ]:
# 25. Print the median alcohol consumption per continent for every column.
drinks.groupby('continent').median()

---
## Section 6: Apply & Advanced Selection
Back to the `chipo` dataset

In [ ]:
# 26. Create a function that returns "High" if a price is > 10 and "Low" otherwise.
# Apply this function to the 'item_price' column of `chipo` and create a new column 'price_level'.
def price_level(price):
    return "High" if price > 10 else "Low"
chipo['price_level'] = chipo['item_price'].apply(price_level)

In [ ]:
# 27. Use the `apply` method to capitalize all strings in the 'item_name' column.
chipo['item_name'] = chipo['item_name'].apply(str.capitalize)

In [ ]:
# 28. Select only the rows from index 10 to 20 (inclusive) and columns 1 to 3.
chipo.iloc[10:21, 1:4]

---
## Section 7: Merging & Joining

In [ ]:
# 29. Create two dataframes:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Score': [85, 90, 95]})

# Merge them on 'ID' using an inner join.
pd.merge(df1, df2, on='ID', how='inner')

In [ ]:
# 30. Merge them on 'ID' using an outer join.
pd.merge(df1, df2, on='ID', how='outer')

In [ ]:
# 31. Merge them on 'ID' using a left join (keep all from df1).
pd.merge(df1, df2, on='ID', how='left')

---
## Section 8: Time Series
For this section, let's generate some time series data.

In [ ]:
# 32. Create a date range from '2023-01-01' to '2023-01-10'.
pd.date_range('2023-01-01', '2023-01-10')

In [ ]:
# 33. Create a DataFrame with this date range as the index and a column 'Sales' with random values.
dates = pd.date_range('2023-01-01', '2023-01-10')
df_ts = pd.DataFrame({'Sales': np.random.randn(len(dates))}, index=dates)

In [ ]:
# 34. Resample the data to calculate the 3-day sum of sales.
df_ts.resample('3D').sum()

In [ ]:
# 35. Shift the 'Sales' column by 1 day (create a lag column).
df_ts['Sales_lag'] = df_ts['Sales'].shift(1)

---
## Section 9: Titanic Dataset - Mixed Practice
URL: `https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv`

In [ ]:
# 36. Load the Titanic dataset.
url_titanic = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
titanic = pd.read_csv(url_titanic)

In [ ]:
# 37. How many passengers survived? (Survived=1)
(titanic['Survived'] == 1).sum()

In [ ]:
# 38. What is the average age of passengers?
titanic['Age'].mean()

In [ ]:
# 39. Group by 'Pclass' and calculate the survival rate (mean of 'Survived').
titanic.groupby('Pclass')['Survived'].mean()

In [ ]:
# 40. Fill missing values in the 'Age' column with the median age.
titanic['Age'].fillna(titanic['Age'].median(), inplace=True)

In [ ]:
# 41. Create a pivot table showing the average age by 'Sex' and 'Pclass'.
pd.pivot_table(titanic, values='Age', index='Sex', columns='Pclass', aggfunc='mean')

---
## Section 10: Visualization (Optional)
Requires matplotlib/seaborn

In [ ]:
# 42. Plot a histogram of the 'Age' column from the Titanic dataset.
import matplotlib.pyplot as plt
titanic['Age'].hist()
plt.show()

In [ ]:
# 43. Plot a bar chart of the average fare by Pclass.
titanic.groupby('Pclass')['Fare'].mean().plot(kind='bar')
plt.show()

---
## Great Job!
You've covered the basics of Pandas including creating objects, reading data, cleaning, filtering, grouping, merging, and time series.